RewriteEngine On

AddType text/css .css
AddType application/x-javascript .js

AddOutputFilterByType DEFLATE text/text
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/javascript

<filesMatch "\.(ico|jpg|gif|jpeg|js|css|png)$">
Header set Cache-Control "max-age=29030400, public"
</filesMatch>

RewriteCond %{REQUEST_URI} ^/css/[0-9]+
RewriteRule ^css/[0-9]+/(.*)$ /css/compressed/$1 [L]

RewriteCond %{REQUEST_URI} ^/js/[0-9]+
RewriteRule ^js/[0-9]+/(.*)$ /js/compressed/$1 [L]


RewriteRule ^$ /doc-root/index.php [nc,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^lade/(.*)$ /doc-root/lade/index.php/$1 [nc,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/doc-root
RewriteRule ^(.*)$ /doc-root/$1 [L]

#RewriteRule ^/$ /index.php [nc,L]
#RewriteRule ^(/app.*)$ /index.php/$1 [nc,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /doc-root/index.php/$1 [nc,L]

