		/* Drop Downs ------------------------------------ */
.bnwDropdown {
	background: #fff url(/images/site/misc_dropdown_button.gif) right top no-repeat;
	padding-right: 23px;
	cursor: default;
	border: 1px solid #806240;
	}

.bnwDropdown h3,
.bnwDropdown h4,
.bnwDropdown h5,
.bnwDropdown h6 {
	font-size: 14px;
	padding: 0 4px;
	line-height: 23px;
	height: 23px;
	color: #000;
	font-weight: normal;
	white-space: nowrap;
	}

.bnwDropdown ul {
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #806240;
	border-top: none;
	}

.bnwDropdown ul li {
	zoom: 1;
	}

.bnwDropdown li a {
	display: block;
	margin: 2px;
	padding: 2px;
	border: 1px solid #fff;
	white-space: nowrap;
	}

.bnwDropdown li a:hover,
.bnwDropdown li a:focus {
	background-color: #ccc;
	border: 1px dotted #0054a6;
	}
		/* /Drop Downs ----------------------------------- */

