.gcms_content,
.gcms_content input,
.gcms_content select,
.gcms_content textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 10px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}

.gcms_content * {
	margin: 0;
	}

.gcms_content fieldset {
	padding: 0;
	border: none;
	width: 100%;
	}

#gcms_vars {
	clear: both;
	}

.gcms_content h3 {
	padding: 9px 9px 5px 9px;
	}

.gcms_wordlet,
.gcms_list_item {
	border: 1px dashed blue;
	display: inline-block;
	clear: none;
	cursor: hand;
	cursor: pointer;
	}

.gcms_link {
	display: inline-block;
	padding: 2px 5px;
	background: #000;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	}

.gcms_link:hover {
	background-color: #bbb;
	color: #fff;
	}

#gcms_bar {
	background: #fff;
	border: 5px solid #000;
	border-right-width: 4px;
	float: left;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	color: #000;
	}

#header {
	clear: both;
	}

#gcms_bar ul,
#gcms_bar li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}

#gcms_bar li {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	}

#gcms_bar a {
	background-color: #fff;
	color: #000;
	display: inline-block;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
	}

#gcms_bar p {
	padding: 5px 10px;
	margin: 0;
	}

#gcms_bar a:hover,
#gcms_bar a:focus {
	background-color: #bbb;
	color: #fff;
	padding: 3px 8px;
	border: 2px solid #eee;
	border-bottom: 2px solid #888;
	border-right: 2px solid #888;
	}

#gcms_container {
	border: 3px double #000;
	}

#gcms_container .gcms_wrapper {
	padding: 7px;
	border: 3px double #999;
	background: #e8e8e8 url(/images/gcms_wrapper_bg.gif) right bottom no-repeat;
	margin-bottom: 10px;
	}

#gcms_container .gcms_wrapper.type_submit {
	padding: 0;
	border: none;
	background: none;
	margin-bottom: 5px;
	}

#gcms_overlay {
	background-color: #000;
	}

.gcms_content {
	background: #fff url(/images/gcms_stripes.gif) left top repeat-x;
	/*min-width: 400px;*/
	}

.gcms_content form {
	padding: 0 9px 5px 9px;
	}

.gcms_content form label {
	display: block;
	font-weight: bold;
	padding-bottom: 3px;
	}

.gcms_content form input[type="text"],
.gcms_content form .type_text input,
.gcms_content form .type_textarea textarea {
	display: block;
	width: 100%;
	border: none;
	background: #fff url(/images/gcms_input_shadow.gif) left top repeat-x;
	/*border: none;*/
	border: 1px solid #999999;
	font-size: 12px;
	padding: auto;
	resize: none;
	}

.gcms_content form .type_textarea textarea {
	min-height: 2.2em;
	}

.gcms_content form .type_select select {
	border: 1px solid #999;
	background: #fff url(/images/gcms_input_shadow.gif) left top repeat-x;
	font-size: 12px;
	}

.gcms_content form .type_text .data,
.gcms_content form .type_textarea .data {
	/*border: 1px solid #999;*/
	background: #fff url(/images/gcms_input_shadow.gif) left top repeat-x;
	}

.gcms_loading .gcms_content {
	background: #fff url(/images/gcms_loading.gif) center center no-repeat;
	}

.gcms_content .revisions,
.gcms_content .data {
	margin-left: 5px;
	}

.gcms_content .revisions {
	display: inline-block;
	display: none;
	}

.gcms_content .data {
	margin-bottom: 3px;
	}

.gcms_content .revisions h4 {
	display: inline-block;
	border: 1px solid #999;
	background: #fff;
	}

.gcms_content .header .revisions {
	margin: 0 0 5px 0;
	}

.gcms_content .revisions ul {
	background: #fff;
	border: 1px solid #999;
	display: inline-block;
	padding: 2px;
	margin-top: -1px;
	}

.gcms_content .revisions a,
.gcms_content .revisions span {
	padding: 2px;
	display: block;
	}

.gcms_content .revisions h4 a {
	padding-right: 12px;
	display: block;
	background: url(/images/gcms_dropdown_arrow.gif) right 8px no-repeat;
	color: #999;
	text-decoration: none;
	margin-right: 4px;
	}

.gcms_content .revisions ul a {
	text-decoration: none;
	display: block;
	padding: 2px;
	color: #999;
	}

.gcms_content .revisions li a:hover,
.gcms_content .revisions li a:active {
	color: #fff;
	background: #999;
	}

.gcms_content .revisions .current {
	font-style: italic;
	}



/*.gcms_content .revisions ul,
.gcms_content .revisions li {
	margin: 0;
	padding: 0;
	list-style: none;
	}

.gcms_content .revisions li {
	display: inline;
	border: 1px solid #000;
	}

.gcms_content .revisions li a {
	padding: 0 8px;
	color: #fff;
	background: #999;
	text-decoration: none;
	}

.gcms_content .revisions li.current span {
	padding: 0 8px;
	font-style: italic;
	background: #fff;
	color: #999;
	}

.gcms_content .header .revisions h4 {
	padding-top: 0;
	}

.gcms_content .revisions h4 {
	padding: 3px 0;
	color: #777;
	}*/

#gcms_toolbar {
	background: #000 url(/images/gcms_toolbar_stripe.gif) left top repeat-y;
	text-align: right;
	padding: 2px;
	cursor: move;
	}

.gcms_close {
	background: url(/images/gcms_close.gif) top left no-repeat;
	width: 16px;
	height: 16px;
	line-height: 160px;
	text-indent: -1000px;
	overflow: hidden;
	display: inline-block;
	margin-left: 3px;
	}

.gcms_maximize {
	background: url(/images/gcms_maximize.gif) top left no-repeat;
	width: 16px;
	height: 16px;
	line-height: 160px;
	text-indent: -1000px;
	overflow: hidden;
	display: inline-block;
	}

#gcms_resize {
	background: url(/images/gcms_resize.gif) top left no-repeat;
	width: 13px;
	height: 13px;
	line-height: 160px;
	text-indent: -1000px;
	overflow: hidden;
	cursor: e-resize;
	position: absolute;
	right: 5px;
	bottom: 5px;
	}

.gcms_textarea_toolbar {
	background: #999;
	padding: 2px 2px 0 0;
	text-align: right;
	}

.gcms_textarea_expand {
	cursor: move;
	background: url(/images/gcms_resize.gif) top left no-repeat;
	width: 13px;
	height: 13px;
	line-height: 160px;
	text-indent: -1000px;
	overflow: hidden;
	display: inline-block;
	}

.gcms_textarea_autosize {
	cursor: pointer;
	display: inline-block;
	text-decoration: underline;
	line-height: 13px;
	height: 13px;
	padding-right: 10px;
	overflow: hidden;
	}

* html .gcms_textarea_autosize {
	cursor: hand;
	}

.wysiwyg_ctrl_container a {
	display: inline-block;
	border: 2px solid #ccc;
	background: #eee;
	padding: 2px;
	color: #000;
	text-decoration: none;
	margin: 0 5px 5px 0;
}

.wysiwyg_container {
	background: #000;
}

.wysiwyg_container .wysiwyg_ctrl_container {
	background: #eee;
}

.wysiwyg_container .wysiwyg_textarea,
.wysiwyg_container .wysiwyg_html {
	background: #fff;
}

.wysiwyg_container .wysiwyg_html {
	padding: 5px;
}

